{% extends "master.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h3>Contests</h3>
        </div>

        <div class="panel-body">
            <ol>
                {% for c in cunts %}
                    <li class="list-group-item">
                        {{ c.name|capfirst }}
                        {{ c.start_date }}
                    </li>
                {% endfor %}
            </ol>
        </div>

        <form class="form-block" action="/" method="POST">{% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Add" class="btn btn-primary btn-block btn-lg">
        </form>
    </div>
</div>
<div class="col-md-6">
    <div class="page-header">
        <h2>Number of available slots is: {{ available }}</h2>
    </div>
</div>
{% endblock %}